@model StudentExercisesMVC.Models.Student



<h1>@ViewData["Title"]</h1>

<div>
    <h4>Student</h4>
    <hr />
    <div class="row">
        <h5 class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </h5>
        <p class="col-sm-3">
            @Html.DisplayFor(model => model.FirstName)
        </p>
        <h5 class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </h5>
        <p class="col-sm-3">
            @Html.DisplayFor(model => model.LastName)
        </p>
        <h5 class="col-sm-3">
            @Html.DisplayNameFor(model => model.SlackHandle)
        </h5>

        <p class="col-sm-3">
            @Html.DisplayFor(model => model.SlackHandle)
        </p>
        <h5 class="col-sm-3">
            @Html.DisplayNameFor(model => model.CurrentCohort.name)
        </h5>
        <p class="col-sm-3">
            @Html.DisplayFor(model => model.CurrentCohort.name)
        </p>


    </div>
    <h5>Assigned Exercises</h5>
    @foreach (Exercise exercise in Model.Exercises)
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayFor(model => exercise.Name)
            </div>
            <div class="col-sm-4">
                @Html.DisplayFor(model => exercise.Language)
            </div>

        </div>


    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
