@model StudentExercisesMVC.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlackHandle)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.SlackHandle)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCohort.name)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CurrentCohort.name)
        </dd>
    </dl>

    <h5>Assigned Exercises</h5>

    @foreach (var exercise in Model.Exercises)
    {
        <div class="row">

            <div class="col-sm-3">
                @Html.DisplayFor(model => exercise.Exercise.Name)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(model => exercise.Exercise.Language)
            </div>
            <div class="col-sm-2">
                <span>Completed?</span>
                @Html.CheckBoxFor(
                model => exercise.isComplete,
                new
                {
                    @id = $"complete-{exercise.Exercise.id}-{Model.Id}",
                    @class = "ml-2"
                }
                )
            </div>
        </div>


    }

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
